:root {
  --orange_color: #da722c;
  --dark-blue_color: #023047;
  --light_blue_color: #6f7dfb;
  --light_color: #e8f7fb;
  --dark_color: #070917;
  --main_color: #fef7e5;
  --accent_color: #fc5356;
  --heading_color: #20247b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}

.text-green {
  color: green;
}
.text-red {
  color: red;
}
.text-white {
  color: white;
}

/* Section */

.section {
  padding: 100px 0;
  position: relative;
}
.section-title {
  padding-bottom: 45px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.flex {
  display: flex;
}
.section-title h1 {
  font-weight: 700;
  color: var(--heading_color);
  font-size: 2.5rem;
  margin: 0 auto;
  border-left: 5px solid var(--accent_color);
  padding-left: 15px;
}
.section-title h2 {
  font-weight: 600;
  color: var(--heading_color);
  font-size: 2rem;
  margin: 0 0 15px;
  border-left: 5px solid var(--accent_color);
  padding-left: 15px;
}
.section-title h3 {
  font-weight: 500;
  color: var(--heading_color);
  font-size: 1.5rem;
  margin: 0 0 15px;
  border-left: 5px solid var(--accent_color);
  padding-left: 15px;
}

.section-title p {
  margin: 10px 0;
}
.section-title ul {
  margin-left: 3rem;
}

.lr-container,
.lr-container-right {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1180px;
  /* padding: 0 15px; */
  margin-bottom: 1em;
  margin: 0 auto;
  /* gap: 30px; */
  width: 90%;
}

.btn-green {
  background-color: #176325;
  color: #fff;
  text-decoration: none;
}
/* flex-direction: row;
align-items: center;
justify-content: space-around;
flex-flow: wrap;
width: 90%;
margin: 50px auto;
gap: 30px; */

iframe {
  height: 100vh;
  width: 100%;
  overflow: auto;
}

.w-100 {
  width: 100;
}
.w-45 {
  width: 45%;
}

.section-sub {
  max-width: 1300px;
  margin: 50px auto;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: rgb(107 114 128);
  width: 90%;
}

.lr-container img,
.lr-container-right img {
  max-width: 45%;
  margin-bottom: 1rem;
  object-fit: contain;
  align-self: flex-start;
  overflow: clip;
  overflow-clip-margin: content-box;
  border-radius: 60% 60% 60% 60%;
}

.shadow {
  box-shadow: -2px -1px 15px 16px rgba(0, 0, 0, 0.75);
}

.lr-content {
  display: block;
  width: 45%;
  margin: 0 4em;
}

.lr-content p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.pricing-container {
  /* space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0" */
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
  flex-flow: wrap;
  width: 90%;
  margin: 50px auto;
  gap: 1em;
}

.item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.mt {
  margin-top: 20px;
}

/* Navigation Bar */
.nav-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-container img {
  height: 55px;
  width: auto;
}

.navbar {
  height: 60px;
  background-color: var(--main_color);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

.lr-left {
  width: 450px;
}

.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}
.nav-elements ul a:hover {
  color: #000;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.nav-elements ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

/* Wrapper */
.wrapper {
  max-width: 100%;
  margin: 0 auto;
  margin-top: 4rem;
}

/* Header */
header {
  background: linear-gradient(180deg, #6f7dfb 0%, #26308c 100%);
  height: 100vh;
  width: 100%;
}

nav .logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  font-size: 2rem;
  color: #000;
}

.logoBody {
  transform: translateZ(55px);
  padding: 15px;
  border-radius: 25px;
  border: 2px solid #ff00ff;
  font-size: 20px;
  color: #fff;
  background: #000;
}

.hamburger-img {
  width: auto;
  height: 40px;
}

.menu-icon {
  display: none;
}

@media (max-width: 600px) {
  .lr-container {
    flex-direction: column;
  }
  .lr-container-right {
    flex-direction: column-reverse;
  }
  .lr-container img,
  .lr-container-right img {
    max-width: 100%;
    align-self: center;
  }
  .lr-content {
    margin: 0 auto;
    width: 100%;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fef7e5;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 1000;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

/* Hero Section */
.hero-section {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

.hero-section .left h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 125%;
  color: #fff;
  margin-bottom: 0;
}

.hero-section .left p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color: #fff;
  margin-bottom: 30px;
}

.hero-section .left {
  width: 457px;
}

.hero-section .right img {
  height: 520px;
  vertical-align: middle;
}

.hero-section .right {
  align-self: flex-end;
}

.achievement-cards {
  display: none;
}

.achievement-card {
  position: absolute;
}

.achievement-card .content {
  border-radius: 24px;
  background: #fff;
  padding: 8px 32px;
}

.achievement-card h3 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: var(--dark-blue-color);
  margin: 0;
}

@media screen and (min-width: 1080px) {
  .pricing-container {
    /* space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0" */
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 0px;
    gap: 2.5rem;
  }
}
