.pricing-card {
  width: 100%;
  max-width: 24rem;
  padding: 1rem;
  background-color: white;
  border-width: 1px;
  border-color: rgb(229 231 235);
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.pricing-card h5 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  color: rgb(107 114 128);
}

.pricing-card li {
  display: flex;
}

.pricing-card ul {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.strike-through {
  text-decoration-line: line-through;
  text-decoration-color: #6b7280;
}

.pricing-subheading {
  display: flex;
  align-items: baseline;
  color: rgb(17 24 39);
}

.text-xl {
  margin-inline-start: 0.25rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 400;
  color: rgb(107 114 128);
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;
}

.text-5xl {
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
  letter-spacing: -0.025em;
}

.svg-blue {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  color: rgb(29 78 216);
}
.svg-gray {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  color: rgb(156 163 175);
}
.list-text {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  margin-inline-start: 0.75rem;
  color: rgb(107 114 128);
}

.btn-pricing {
  display: inline-flex;
  justify-content: center;
  color: white;
  background-color: rgb(29 78 216);
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 0.75rem;
  line-height: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  width: 100%;
  text-align: center;
}
.btn-pricing:hover {
  background-color: rgb(30 64 175);
}
.btn-pricing:focus {
  box-shadow: #cccbbb 0 0 0 calc(4px + 4px) rgb(241 245 249);
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.pricing-card:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.4) -5px 5px, rgba(0, 0, 0, 0.3) -10px 10px,
    rgba(0, 46, 170, 0.2) -15px 15px, rgba(0, 0, 0, 0.1) -10px 10px,
    rgba(0, 0, 0, 0.05) -0 0;
}

/* @media (prefers-color-scheme: dark) {
  .text-xl {
    color: rgb(156 163 175);
  }
  .text-5xl {
    color: white;
  }

  .pricing-card {
    background-color: rgb(31 41 55);
    border-color: rbg(55 65 81);
  }

  .pricing-card h5 {
    color: rgb(156 163 175);
  }
  .pricing-subheading {
    color: white;
  }
  .svg-blue {
    color: rgb(59 130 246);
  }
  .svg-gray {
    color: rgb(107 114 128);
  }
} */

@media screen and (max-width: 640px) {
  .pricing-card {
    padding: 2rem;
  }
}
