.accordion {
    max-width: 80%;
    margin: 1rem auto;
  }
  
  .accordion-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    /* background-color: #21aeca; */
    border-bottom: 1px solid var(--heading_color) ;
  }
  
  .accordion-title:hover {
    background-color: var(--light_color);
  }
  
  .accordion-title,
  .accordion-content {
    padding: 1rem;
  }
  
  .accordion-content {
    background-color: var(--light_color);
    border-bottom: 1px solid var(--heading_color) ;
  }
  
  @media screen and (max-width: 600px) {
    /* body {
      font-size: 18px;
    } */
  
    .accordion {
      width: 90%;
    }
  }