/* CSS tricks to hide aria hidden */

main {
  background: white;
}

main > * {
  position: relative;
  transition: all 0.3s 0.3s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: opacity, transform;
}

main > *[aria-hidden="true"] {
  display: initial;
  pointer-events: none;
  transition-delay: 0s;
  opacity: 0;
  transform: scale(0.8);
}

.contact-container {
  width: 100%;
  margin-top: 5rem;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.contact-wrapper {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
}

.contact-wrap {
  background: #fff;
  width: 100%;
  padding: 3rem;
}

.contact-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-left {
  flex: 0 0 50%;
  max-width: 50%;
}

.contact-right {
  display: flex;
  flex: 0 0 50%;
  max-width: 50%;
  align-items: stretch !important;
}
.info-wrap {
  background-image: url("../../assets/contactus.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
}

textarea.form-control {
  height: 110px;
}

.contact-address-text {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

#form-message-warning {
  color: red;
}
#form-message-success {
  color: green;
  font-size: 18px;
  font-weight: 500;
}

.contactForm .form-control {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
}

#contactForm .error {
  color: red;
  font-size: 12px;
}

#contactForm .form-control {
  font-size: 16px;
}

.form-group {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 1rem;
}

.dbox {
  width: 100%;
  margin-bottom: 25px;
}

.dbox p span {
  font-weight: 400;
  color: rgba(0, 0, 0, 0.2);
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}
.dbox p a {
  color: rgba(0, 0, 0, 0.7);
}
.dbox .text {
  width: 100%;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.submitting {
  /* float: left; */
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
  transition: color 2s ease-in-out, -webkit-box-shadow 2s ease-in-out;
  /* color: #e3b04b;  */
  text-align: center;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn.btn-primary {
  background: #e3b04b !important;
  border-color: #e3b04b !important;
  color: #fff;
}

.social-media {
  width: 100%;
}

.social-media h3 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: 000;
}

.social-media p a {
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  margin-right: 10px;
  transition: 0.3s all ease;
}

.social-media p a:hover {
  color: #000;
}

.completed {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  transition: all 3s 1s;
  min-height: 400px;
}

.completed h3 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 700;
  color: 000;
}

@media (min-width: 768px) {
  .dbox {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 768px) {
  .contact-wrap {
    padding: 1.5rem;
  }
  .contact-row {
    flex-direction: column;
  }
  .contact-left,
  .contact-right {
    max-width: 100%;
  }
  .info-wrap {
    height: auto;
    min-height: 400px;
  }
}
